{{ $baseurl := .Site.BaseURL }}
<paper-header-panel drawer mode="standard">
  <paper-menu>
    <paper-submenu>
      <paper-item class="menu-trigger">
        <iron-icon icon="home"></iron-icon><div class="flex">Rooms</div>
        <iron-icon icon="chevron-right"></iron-icon>
      </paper-item>
      <paper-menu class="menu-content sublist">
        {{ range $name, $taxonomy := .Site.Taxonomies.rooms }}
        <a href="{{ $baseurl }}/rooms/{{ $name | urlize }}"><paper-item>{{ $name }}</paper-item></a>
        {{ end }}
      </paper-menu>
    </paper-submenu>
    <paper-submenu>
      <paper-item class="menu-trigger">
        <iron-icon icon="drafts"></iron-icon><div class="flex">Tags</div>
        <iron-icon icon="chevron-right"></iron-icon>
      </paper-item>
      <paper-menu class="menu-content sublist">
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
        <a href="{{ $baseurl }}/tags/{{ $name | urlize }}"><paper-item>{{ $name }}</paper-item></a>
        {{ end }}
      </paper-menu>
    </paper-submenu>
  </paper-menu>
</paper-header-panel>
